#Ignore the node_modules directory
node_modules/


#Ignore the dist directory (build files)
dist/


#Ignore environment specific files
src/environments/*.js


# Ignore any build artifacts or temporary files
*.js.map
*.d.ts
*.js.LICENSE.txt
